@font-face {
  font-family: "StoryMilk";
  src: url("./resources/fonts/StoryMilky.ttf") format("truetype");
}

@font-face {
  font-family: "GaretBook";
  src: url("./resources/fonts/GaretBook.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #a0153e;
}
